

<main>
  <!-- Hero Section -->
  <section class="hero">

     <video autoplay muted loop id="video-background">
    <source src="assets/natureza.mp4" type="video/mp4" />
    Seu navegador não suporta vídeos HTML5.
  </video>

    <div class="hero-content">
      <h1 class="fade-in">Protegendo a natureza hoje para um amanhã melhor</h1>
  <p class="fade-in-delay">Junte-se a nós na missão de preservar ecossistemas e proteger espécies ameaçadas em todo o mundo.</p>
      <div class="hero-buttons">
        <a href="/doar" class="btn-green">Apoie nossa causa</a>
        <a href="/impactos" class="btn-white">Veja nossos impactos</a>
      </div>
    </div>
  </section>


  <section class="video">
    <div class="video-content">
      <!-- <h2>Assista ao nosso vídeo</h2>
      <p>Descubra como estamos fazendo a diferença no mundo.</p> -->
      <iframe width="100%" height="800" src="https://www.youtube.com/embed/ZENRNWU-N-I" frameborder="0"
        allowfullscreen></iframe>
    </div>

  </section>
</main>
