.audio-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  margin-top: 50px;
}

.audio-toggle button {
  background-color: #198754;
  border: none;
  color: white;
  font-size: 20px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
