
<main>
  <div class="container py-5">
    <h2 class="text-center section-title mb-4">Doação via Transferência Bancária</h2>
    
    <div class="bg-white p-4 rounded shadow-sm mb-4">
      <h4>Conta Bancária Nacional</h4>
      <p><strong>Instituição:</strong> BCO DO BRASIL S.A.</p>
      <p><strong>Agência:</strong> 1850</p>
      <p><strong>Conta Corrente:</strong> 405396</p>
    </div>

    <div class="bg-white p-4 rounded shadow-sm">
      <h4>Doações Internacionais</h4>
      <p><strong>Transferência Bancária Internacional</strong></p>
      <p><strong>Nome do Titular:</strong> INSTITUTO TERRA VIVA DO BRASIL</p>
      <p><strong>Endereço:</strong> RUA SILVEIRA LOBO - CXPST 582</p>
      <p><strong>Cidade:</strong> RECIFE</p>
      <p><strong>País:</strong> BRASIL</p>
      <p><strong>Código SWIFT:</strong> BRASBRRJSBO</p>
      <p><strong>Código IBAN:</strong> BR6600000000018500000405396C1</p>
    </div>
  </div>
</main>
