/* Reset básico */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

 

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

main{
  margin-top: 50px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.section-title {
  font-size: 2rem;
  color: #8ccba7;
  margin-bottom: 30px;
}

.bg-white {
  background-color: #fff;
}

.p-4 {
  padding: 1.5rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.rounded {
  border-radius: 10px;
}

.shadow-sm {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

h4 {
  color: #1e7e34;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.6rem;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-success {
  background-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
}
